.warning{
    padding: 10px 20px;
  background: none;
  border: none;
  border-radius: 4px;
  background-color: rgb(65, 231, 176);
  color: white;
  cursor: pointer;
  margin: 20px 5px;
  transition: 0.5s;
}
.warning:focus{
    outline: none;
}
.warning:hover{
    background-color: rgb(51, 190, 144);
}
.danger{
    padding: 10px 20px;
  background: none;
  border: none;
  border-radius: 4px;
  background: rgb(211, 49, 49);
  color: white;
  cursor: pointer;
  margin: 20px 5px;
  transition: 0.5s;
}
.danger:focus{
    outline: none;
}
.danger:hover{
    background-color: rgb(150, 35, 35);
}